<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>BBERP and Order Management &copy; 2022 <a href="http://battlingbugs.com/">Battling Bugs</a>.</strong>
</footer>